body {
    margin: 0;
    padding: 0;
  }

.header {
position: absolute;
width: 1440px;
height: 600px;
left: 0px;
top: 0%;
}

.titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}